*{
    text-decoration: none;
}
#nav{
    border: 1px solid  #919191;
    position: absolute;
    width:100%;
    margin-top :120px;
    height: 40px;
}
#bar{
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0;
}
.bar_item{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8.5px;
    font-size: 1.625vh;
}

#bar_item1{
    margin-right:13%;
}
#web_link{
    text-decoration: none;
    color:black;
}