$border_set_signup : 1px solid #919191;
*{
    text-decoration: none;
}
#container_signup{
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 120px;
    width:29%;
    margin-left:35.5%;
    margin-right:35.5%;
}
.signin_itm{
    margin-top: 5px;    
    margin-bottom: 5px;
}

#inputid{
    margin-top: 40px;
    width:50%;
    height: 30px;
    border:$border_set_signup;
    border-radius: 5px;
    &:focus{
        outline: none;
    }
}

#inputpw{
    width:50%;
    height: 30px;
    border:$border_set_signup;
    border-radius: 5px;
    &:focus{
    outline: none;
    }
}

#reinputpw{    
    width:50%;
    height: 30px;
    border:$border_set_signup;
    border-radius: 5px;
    &:focus{
    outline: none;
    }
}

#inputemail{
    width:50%;
    height: 30px;
    border:$border_set_signup;
    border-radius: 5px;
    &:focus{
    outline: none;
    }
}

#inputage{
    width:50%;
    height: 30px;
    border:$border_set_signup;
    border-radius: 5px;
    margin-bottom: 20px;
    &:focus{
    outline: none;
    }
}

#logbtn{
    width:50%;
    background-color: black;
    color:white;    
    border-style: none;
    border-radius: 3px;
    border:$border_set_signup;
    height: 25px;
    margin-bottom: 20px;
}