$border_set_signin : 1px solid #919191;
*{
    text-decoration: none;
}
#container_signin{
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 120px;
    width:29%;
    margin-left:35.5%;
    margin-right:35.5%;
}

.signin_itm{
    margin-top: 5px;
    margin-bottom: 5px;
}

#input_id{
    margin-top: 40px;
    width:50%;
    height: 30px;
    border:$border_set_signin;
    border-radius: 5px;
    &:focus{
        outline: none;
    }
}

#input_pw{
    width:50%;
    height: 30px;
    border:$border_set_signin;
    border-radius: 5px;
    margin-bottom: 50px;
    &:focus{
        outline: none;
    }
}

#log_btn{
    width:50%;
    background-color: black;
    color:white;    
    border-style: none;
    border-radius: 3px;
    border:$border_set_signin;
    height: 25px;
}
#nav_btn{
    width:50%;
    color:white;
    background-color: green;
    border-style: none;
    border-radius: 3px;
    border: $border_set_signin;
    height: 25px;
}
#goo_btn{
    width:50%;
    // color:white;
    // background-color: #919191;
    // border-style: none;
    border: 1px solid #919191;
    border-radius: 3px;
    height: 25px;
}
#ka_btn{
    width:50%;
    height: 25px;
    background-color: yellow;
    border-style: none;
    border-radius: 3px;
    height: 25px;
    border: $border_set_signin;
    margin-bottom: 8px;
}
.oth_func{
    margin-bottom: 30px;
}
.oth_func1{
    margin-bottom: 7px;
}

#sign_up_link{
    text-decoration: none;
    color:black;
}
#find_pw_link{    
    text-decoration: none;
    color:black;    
}